@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 2500px;
  color: #423d3f;
  font-family: Montserrat, sans-serif;
  font-size: 1.75rem; /* 28px / 16px = 1.75rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.01em;
  text-decoration: none;
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  padding: 0 0 71px;
  position: relative;
  width: 100%; /* 2500px / 2500px = 100% */
  z-index: 0;
  background: #f7f5f3;
}
.banner {
  height: 1525px;
  overflow: hidden;
  position: relative;
  width: 100%; /* 2500px / 2500px = 100% */
  z-index: 69;
}
.rectangle-1 {
  left: 0;
  max-width: 2500px;
  position: absolute;
  top: 0;
  width: 100%;
}
.bg-diagonal {
  left: 0;
  position: absolute;
  top: 1229px;
  width: 100%; /* 2500px / 2500px = 100% */
}
.hexes {
  left: 50%;
  position: absolute;
  top: 827px;
  margin-left: 559px;
}
.hex {
  left: 50%;
  position: absolute;
  top: 597px;
  margin-left: 913px;
}
.hex-2 {
  left: 50%;
  position: absolute;
  top: 499px;
  margin-left: 838px;
}
.button-copy-4-holder {
  left: 50%;
  margin: 0 0 0 -1051px;
  min-height: 99px;
  position: absolute;
  top: 985px;
  width: 691px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #dbd7cf;
  font-size: 1.937369rem; /* 31px / 16px = 1.9375rem */
  font-weight: 600;
  line-height: 99px;
  text-align: center;
}
.text-2 {
  left: 50%;
  position: absolute;
  top: 549px;
  width: 1419px;
  color: #ffffff;
  font-size: 6.875rem; /* 110px / 16px = 6.875rem */
  line-height: 116px;
  margin-left: -1049px;
}
.text-3 {
  left: 50%;
  position: absolute;
  top: 473px;
  color: #dbd7cf;
  font-size: 2.471791rem; /* 39.55px / 16px = 2.471875rem */
  letter-spacing: 0;
  line-height: 40px;
  text-transform: uppercase;
  margin-left: -1050px;
}
.search {
  left: 50%;
  position: absolute;
  top: 115px;
  margin-left: 952px;
}
.nav {
  left: 50%;
  position: absolute;
  top: 123px;
  width: 644px;
  margin-left: 193px;
}
.nav-list {
  position: relative;
  list-style: none;
}
.nav-list li {
  float: left;
  margin: 0 90px 0 0;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-item-1 {
  color: #ffffff;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: 600;
  letter-spacing: 0;
}
.nav-item-1-2 {
  color: #ffffff;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: 600;
  letter-spacing: 0;
}
.nav-item-1-3 {
  color: #ffffff;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: 600;
  letter-spacing: 0;
}
.nav-item-1-4 {
  color: #ffffff;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: 600;
  letter-spacing: 0;
}
.logo {
  left: 50%;
  position: absolute;
  top: 62px;
  margin-left: -1049px;
}
.group-2 {
  margin: -156px 0 0;
  overflow: hidden;
  padding: 244px 0 0;
  position: relative;
  width: 100%; /* 2500px / 2500px = 100% */
  z-index: 31;
  background: url(images/bg_diagonal_copy_2.png) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 70px;
  position: relative;
  width: 2500px;
}
.text-4 {
  margin: 0 0 0 129px;
  font-size: 5rem; /* 80px / 16px = 5rem */
}
.row-5 {
  margin: 99px 0 0;
  position: relative;
}
.col-8 {
  float: left;
  margin: 3px 0 0;
  position: relative;
  width: 769px;
}
.row-9 {
  left: 96px;
  margin: 0 auto;
  position: relative;
  width: 577px;
}
.hex-3 {
  float: left;
  margin: 410px 0 0;
}
.dot {
  float: left;
  margin: 6px 0 0 16px;
  padding: 9px 0;
  position: relative;
  width: 33px;
  -webkit-border-radius: 16.49px;
  -moz-border-radius: 16.49px;
  border-radius: 16.49px;
  background: rgba(66, 61, 63, 0.12);
}
.ellipse-1 {
  height: 15px;
  margin: 0 auto;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #423d3f;
}
.text-5 {
  float: left;
  margin: 0 0 0 22px;
  width: 440px;
}
.text-5 > * {
  margin: 16px 0 0;
  line-height: 48px;
}
.hex-4 {
  display: block;
  margin: 79px auto 0;
  position: relative;
  right: 58px;
}
.hexes-2 {
  display: block;
  margin: 81px 0 0;
  position: relative;
}
.dot-copy {
  float: left;
  margin: 9px 0 0 169px;
  padding: 9px 0;
  position: relative;
  width: 33px;
  -webkit-border-radius: 16.49px;
  -moz-border-radius: 16.49px;
  border-radius: 16.49px;
  background: rgba(66, 61, 63, 0.12);
}
.ellipse-1-2 {
  height: 15px;
  margin: 0 auto;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #423d3f;
}
.text-6 {
  float: left;
  margin: 3px 0 0 23px;
  width: 463px;
}
.text-6 > * {
  margin: 16px 0 0;
  line-height: 48px;
}
.dot-copy-2 {
  float: left;
  margin: 9px 0 0 189px;
  padding: 9px 0;
  position: relative;
  width: 33px;
  -webkit-border-radius: 16.49px;
  -moz-border-radius: 16.49px;
  border-radius: 16.49px;
  background: rgba(66, 61, 63, 0.12);
}
.ellipse-1-3 {
  height: 15px;
  margin: 0 auto;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #423d3f;
}
.text-7 {
  float: left;
  margin: 0 0 0 24px;
  width: 531px;
}
.text-7 > * {
  margin: 16px 0 0;
  line-height: 48px;
}
.group-3 {
  margin: -503px 0 0;
  padding: 369px 0 28px;
  position: relative;
  width: 100%; /* 2500px / 2500px = 100% */
  z-index: 19;
  background: url(images/bg_diagonal_copy_3.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained {
  margin: 0 auto;
  padding: 0 0 0 193px;
  position: relative;
  width: 2500px;
}
.col-3 {
  float: left;
  margin: 179px 0 0;
  position: relative;
  width: 955px;
}
.text-8 {
  width: 636px;
  color: #ffffff;
  font-size: 5rem; /* 80px / 16px = 5rem */
  line-height: 96px;
}
.text-9 {
  left: 105px;
  margin: 102px auto 0;
  position: relative;
  width: 745px;
  color: #ffffff;
  font-size: 2.25rem; /* 36px / 16px = 2.25rem */
  line-height: 48px;
}
.text-10 {
  left: 74.5px;
  margin: 23px auto 0;
  position: relative;
  width: 684px;
  color: #ffffff;
  line-height: 48px;
}
.button-copy-2-holder {
  left: 72px;
  margin: 90px auto 0;
  min-height: 99px;
  padding: 0 184px;
  position: relative;
  width: 691px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #dbd7cf;
  font-size: 1.937369rem; /* 31px / 16px = 1.9375rem */
  font-weight: 600;
  line-height: 99px;
  text-align: center;
}
.col-4 {
  float: right;
  min-height: 1509px;
  padding: 955px 278px 0;
  position: relative;
  width: 1120px;
  background: url(images/photo.png) no-repeat;
}
.hex-copy {
  display: block;
  left: 129px;
  margin: 0 auto;
  position: relative;
}
.hex-copy-2 {
  display: block;
  left: 229.5px;
  margin: 21px auto 0;
  position: relative;
}
.hexes-copy {
  display: block;
  left: 5.5px;
  margin: 73px auto 0;
  position: relative;
}
.footer {
  margin: 35px auto 0;
  position: relative;
  width: 2500px;
  z-index: 3;
}
.row-2 {
  margin: 0 auto;
  position: relative;
  width: 2112px;
}
.map {
  float: left;
}
.col-7 {
  float: left;
  margin: 25px 0 0 156px;
  position: relative;
  width: 278px;
}
.text-12 {
  margin: 0 0 0 5px;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  letter-spacing: 0;
  line-height: 48px;
}
.row-8 {
  margin: 65px 0 0;
  position: relative;
}
.fb {
  float: left;
  margin: 0 25px 0 0;
}
.insta {
  float: left;
}
.text-13 {
  float: left;
  margin: 25px 0 0 121px;
  width: 249px;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  letter-spacing: 0;
  line-height: 48px;
}
.keyline {
  height: 2px;
  margin: 117px auto 0;
  width: 2101px;
  border: 1px solid #dbd7cf; /*stroke*/
}
.row {
  margin: 94px auto 0;
  position: relative;
  width: 2101px;
}
.col-6 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 479px;
}
.logo-copy {
  display: block;
  position: relative;
}
.text-14 {
  margin: 39px 0 0;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  letter-spacing: 0;
  line-height: 36px;
}
.text-15 {
  float: left;
  margin: 0 0 0 212px;
  width: 112px;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  letter-spacing: 0;
  line-height: 48px;
}
.text-16 {
  float: left;
  margin: 2px 0 0 185px;
  width: 243px;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  letter-spacing: 0;
  line-height: 48px;
}
.col-5 {
  float: left;
  margin: 12px 0 0 229px;
  position: relative;
  width: 641px;
}
.text-17 {
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: 600;
  letter-spacing: 0;
}
.field-holder {
  margin: 24px 0 0;
  min-height: 75px;
  padding: 23px 32px;
  position: relative;
  width: 641px;
  border: 1px solid #dbd7cf; /*stroke*/
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.arrow {
  float: right;
  margin: 5px 1px 0 0;
}
.text-18 {
  margin: 0 0 0 4px;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  letter-spacing: 0;
}
.fw600 {
  font-weight: 600;
}
.text-style {
  font-size: 2.5rem; /* 40px / 16px = 2.5rem */
  font-weight: 600;
}
.text-style-2 {
  margin: 0 !important;
}
