html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Montserrat' !important;
}

#section-one {
  position: relative;
  background-image: url("images/top_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 86vh;
}
.top-banner-img {
  height: calc(90vh - 50px);
}

.custom-navbar {
  position: absolute !important;
  top: 10px;
  width: 100%;
}

.nav-item {
  color: #ffffff !important;
  font-size: 1.0rem !important;
  font-weight: 600 !important;
  padding: 0 20px 10px 0;
  letter-spacing: 0;
}

.landing-box {
  position: relative;
  top: 20%;
}

.landing-info {
  color: #dbd7cf;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  width: 900px;
}

.landing-title {
  color: #ffffff;
  font-size: 3.45rem;
  line-height: 60px;
  width: 900px;
}

.button-book-now {
  z-index: 999;
  border: none;
  min-height: 65px;
  width: 375px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #dbd7cf;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.hex-small {
  z-index: 999;
  right: 12%;
  position: absolute;
  top: 5%;
}

.hex-medium {
  right: 5%;
  position: absolute;
  top: 20%;
}
.hexes {
  height: 320px;
  z-index: 999;
  right: 5%;
  position: absolute;
  top: 50%;
}

.bottom-banner-img {
  position: absolute;
  left: 0;
  top: calc(90vh - 187px);
}

.text-style {
  font-size: 1.0rem;
  font-weight: 600;
}

.text-title-h4 {
  margin: 0 0 0 20px;
  font-size: 3rem;
  font-weight: 500;
}

.custom-row {
  margin: 0 auto;
  position: relative;
}

.hex-single-grey {
  position: absolute;
  top: 78%;
}

.dot {
  float: left;
  margin: 6px 0 0 16px;
  padding: 9px 0;
  position: relative;
  width: 33px;
  -webkit-border-radius: 16.49px;
  -moz-border-radius: 16.49px;
  border-radius: 16.49px;
  background: rgba(66, 61, 63, 0.12);
}

.ellipse {
  height: 15px;
  margin: 0 auto;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #423d3f;
}
.hex-single-dark {
  position: relative;
  bottom: -15%;
  left: 15%;
}
.hexes-alt {
  display: block;
  position: absolute;
  left: 2%;
  top: 10%;
}
.text-box {
  padding-top: 10px;
}

#section-three {
  position: relative;
  background-image: url("images/bg_diagonal.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 1160px;
}

#section-three > .text-title-h4 {
  position: absolute;
  top: 50%;
  color:#ffffff;
  width: 524px;
}

.abs-pos {
  position: absolute;
  top: 40%;
}

.photo-img {
  width: 485px;
}

.left-margin {
  margin: 20px 0 0 195px;
  width: 500px;
  position: absolute;
}

.landing-title-2 {
  left: 10px;
  margin: 20px auto 0;
  width: 500px;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 30px;
}

.landing-title-3 {
  left: 10px;
  margin: 20px auto 0;
  width: 500px;
  color: #ffffff;
  line-height: 25px;
}

.hex-pos-bottom-corner {
  display: block;
  position: absolute;
  right: 6%;
  bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.map {
  float: left;
  width: 100%;
}

.abs-rel {
  position: relative;
}

@media only screen and (max-width: 1440px) {
  .landing-info {
    width: 700px;
  }
  .landing-title {
    width: 720px;
  }
  .bottom-banner-img {
    top: calc(90vh - 171px);
  }
}
@media only screen and (max-width: 1024px) {
  /* .landing-box {
    top: 39%;
  } */
  .landing-info {
    width: 400px;
    font-size: 1rem;
    line-height: 30px;
  }
  .landing-title {
    width: 400px;
    font-size: 1.75rem;
    line-height: 40px;
  }
  .bottom-banner-img {
    top: calc(90vh - 122px);
  }

  .hexes {
    top: 64%;
  }
}
@media only screen and (max-width: 768px) {
  .hex-small, .hex-medium, .hexes, .bottom-banner-img {
    display: none;
  }
  .landing-info {
    width: 400px;
  }
  .landing-title {
    width: 400px;
  }
  .bottom-banner-img {
    top: calc(90vh - 91px);
  }
}
@media only screen and (max-width: 425px) {
  .hex-small, .hex-medium, .hexes, .bottom-banner-img {
    display: none;
  }
  .landing-box {
    top: 15%;
  }
  .logo {
    width: 140px;
    height: 70px;
  }
  .top-banner-img {
    height: 750px;
  }
  .landing-info {
    width: 100%;
  }
  .landing-title {
    width: 100%;
    font-size: 1.75rem;
    line-height: 40px;
  }
  .bottom-banner-img {
    top: calc(90vh - 51px);
  }
  .button-book-now {
    width: 320px;
  }
  #section-one{
    height: 45vh;
  } 
}
@media only screen and (max-width: 375px) {
  .hex-small, .hex-medium, .hexes, .bottom-banner-img {
    display: none;
  }
  .button-book-now {
    width: 278px;
  }
  #section-one{
    height: 80vh;
  } 
}

@media only screen and (max-width: 320px) {
  .hex-small, .hex-medium, .hexes, .bottom-banner-img {
    display: none;
  }
  .button-book-now {
    width: 220px;
  }
  #section-one{
    height: 90vh;
  } 
}

















.top-bg-img {
  background-image: url("images/top_banner.jpg");
}
.banner {
  height: 1525px;
  overflow: hidden;
  position: relative;
  width: 100%; /* 2500px / 2500px = 100% */
  z-index: 69;
}
.nav {
  left: 50%;
  position: absolute;
  top: 123px;
  width: 644px;
}
.nav-list {
  position: relative;
  list-style: none;
}
.nav-list li {
  float: left;
  margin: 0 90px 0 0;
}
.nav-list li:last-child {
  margin-right: 0;
}


.nav-item > a {
  color: #ffffff !important;
  text-decoration: none;
}

.search {
  right: 30px;
  position: absolute;
  top: 124px;
}