html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Montserrat' !important;
}

.top-section{
  background-image: url("images/top_banner.jpg");
  width: 100%;
  height: 90vh;
} 
.top-banner-img {
  
  height: calc(90vh - 50px);
}

.custom-navbar {
  position: absolute !important;
  top: 10px;
  width: 100%;
}

.landing-box {
  position: absolute;
  top: 20%;
}

.landing-info {
  color: #dbd7cf;
  font-size: 0.85rem; /* 39.55px / 16px = 2.471875rem */
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 100;
  text-transform: uppercase;
  width: 900px;
}

.landing-title {
  color: #ffffff;
  font-size: 2.45rem;
  line-height: 50px;
  width: 900px;
}

.button-book-now {
  z-index: 999;
  border: none;
  min-height: 65px;
  width: 375px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #dbd7cf;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.hex-small {
  z-index: 999;
  left: 140%;
  position: absolute;
  top: 5%;
}

.hex-medium {
  left: 163%;
  position: absolute;
  top: 10%;
}
.hexes {
  height: 320px;
  z-index: 999;
  left: 129%;
  position: absolute;
  top: 25%;
}

.bottom-banner-img {
  position: absolute;
  left: 0;
  top: calc(90vh - 187px);
}




.l-constrained-2 {
  margin: 0 auto;
  padding: 0 70px;
  position: relative;
  width: 100%;
}

.text-style {
  font-size: 1.0rem; /* 40px / 16px = 2.5rem */
  font-weight: 600;
}

.text-title-h4 {
  margin: 0 0 0 20px;
  font-size: 5rem;
  font-weight: 500;
}

.row-5 {
  margin: 99px 0 0;
  position: relative;
}
.col-8 {
  float: left;
  margin: 3px 0 0;
  position: relative;
  width: 769px;
}
.custom-row {
  margin: 0 auto;
  position: relative;
  width: 577px;
}
.hex-3 {
  position: absolute;
  left: 3%;
  top: 70%;
}
.dot {
  float: left;
  margin: 6px 0 0 16px;
  padding: 9px 0;
  position: relative;
  width: 33px;
  -webkit-border-radius: 16.49px;
  -moz-border-radius: 16.49px;
  border-radius: 16.49px;
  background: rgba(66, 61, 63, 0.12);
}

.ellipse-1 {
  height: 15px;
  margin: 0 auto;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #423d3f;
}
.hex-4 {
  margin: 79px auto 0;
  position: relative;
  right: 58px;
  left: 15%;
}
.hexes-2 {
  display: block;
  margin: 81px 0 0;
  position: relative;
}
.dot-copy {
  float: left;
  margin: 9px 0 0 169px;
  padding: 9px 0;
  position: relative;
  width: 33px;
  -webkit-border-radius: 16.49px;
  -moz-border-radius: 16.49px;
  border-radius: 16.49px;
  background: rgba(66, 61, 63, 0.12);
}
.ellipse-1-2 {
  height: 15px;
  margin: 0 auto;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #423d3f;
}

.dot-copy-2 {
  float: left;
  margin: 9px 0 0 189px;
  padding: 9px 0;
  position: relative;
  width: 33px;
  -webkit-border-radius: 16.49px;
  -moz-border-radius: 16.49px;
  border-radius: 16.49px;
  background: rgba(66, 61, 63, 0.12);
}
.ellipse-1-3 {
  height: 15px;
  margin: 0 auto;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #423d3f;
}
.text-box {
  padding-top: 12px;
  /* float: left; */
  margin: 0 0 24px 0;
  /* width: 531px; */
}



@media only screen and (max-width: 1440px) {
  .landing-info {
    width: 700px;
  }
  .landing-title {
    width: 700px;
  }
  .bottom-banner-img {
    top: calc(90vh - 171px);
  }
}
@media only screen and (max-width: 1024px) {
  /* .landing-box {
    top: 39%;
  } */
  .landing-info {
    width: 400px;
    font-size: 1rem;
    line-height: 30px;
  }
  .landing-title {
    width: 400px;
    font-size: 1.75rem;
    line-height: 40px;
  }
  .bottom-banner-img {
    top: calc(90vh - 122px);
  }

  .hex-small {
    left: 155%;
  }
  
  .hex-medium {
    left: 178%;
  }
  .hexes {
    left: 144%;
  }
}
@media only screen and (max-width: 768px) {
  .hex-small, .hex-medium, .hexes, .bottom-banner-img {
    display: none;
  }
  .landing-info {
    width: 400px;
  }
  .landing-title {
    width: 400px;
  }
  .bottom-banner-img {
    top: calc(90vh - 91px);
  }
}
@media only screen and (max-width: 425px) {
  .hex-small, .hex-medium, .hexes, .bottom-banner-img {
    display: none;
  }
   .landing-box {
    top: 10%;
  }
  .logo {
    width: 140px;
    height: 70px;
  }
  .top-banner-img {
    height: 750px;
  }
  .landing-info {
    width: 100%;
  }
  .landing-title {
    width: 100%;
    font-size: 1.75rem;
    line-height: 40px;
  }
  .bottom-banner-img {
    top: calc(90vh - 51px);
  }
  .button-book-now {
    width: 320px;
  }
  .top-section{
    height: 45vh;
  } 
}
@media only screen and (max-width: 375px) {
  .hex-small, .hex-medium, .hexes, .bottom-banner-img {
    display: none;
  }
  .button-book-now {
    width: 278px;
  }
  .top-section{
    height: 80vh;
  } 
}

@media only screen and (max-width: 320px) {
  .hex-small, .hex-medium, .hexes, .bottom-banner-img {
    display: none;
  }
  .button-book-now {
    width: 220px;
  }
  .top-section{
    height: 90vh;
  } 
}

















.top-bg-img {
  background-image: url("images/top_banner.jpg");
}
.banner {
  height: 1525px;
  overflow: hidden;
  position: relative;
  width: 100%; /* 2500px / 2500px = 100% */
  z-index: 69;
}
.nav {
  left: 50%;
  position: absolute;
  top: 123px;
  width: 644px;
}
.nav-list {
  position: relative;
  list-style: none;
}
.nav-list li {
  float: left;
  margin: 0 90px 0 0;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-item {
  color: #ffffff !important;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: 600;
  letter-spacing: 0;
}

.nav-item > a {
  color: #ffffff !important;
  text-decoration: none;
}

.search {
  right: 30px;
  position: absolute;
  top: 124px;
}